[submodule "course_work/Ml/ml_project/Machine-Learning-Project-Gender-Recognition-From-Voice"]
	path = course_work/Ml/ml_project/Machine-Learning-Project-Gender-Recognition-From-Voice
	url = https://github.com/devKhush/Machine-Learning-Project-Gender-Recognition-From-Voice.git
